
li{
    display: inline;
    margin-right: 10px;
    text-align: center;
    margin: 100px;
    padding-top: 100px;
    background-color: #e6bb9e; 
    font-size: 18px;    
    font-family: "Lobster Two", sans-serif; 
}

h1{
text-align: center;
font-size: 6px;
color: #944918;
font: bold;
font-family: "Lobster Two", sans-serif; 
}

li.coming-soon{
display: none;
}

body{
    background-color: #e6bb9e; 
    border: #944918 solid 15%; 
    font-family: "Lobster Two", sans-serif; 
}

a:visited{
    color: #944918;
}

a:hover{
    color: #944918;
}

.container{
flex-wrap: wrap;
}

body{
    text-align: center;
}

h1{
    font-size: 40px;
}

  div#content {
    border:2px solid #904A36;
    width:600;
    margin:20px 0 10px 175px;
    min-height:500px;
    height:700px
  }

  div#action {
    position:absolute;
    top:50px;
    right:10px;
    border:2px solid #904A36;
    width:600px;
    margin:0;
    height:700px;
  }


